#button-container {
    margin-top: 100%;
    /* background-color: #1f87ab; */
    border-radius: 10px;
    height: 20%;
}

#submit {
    color: #154e75
}

.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* #spin-submit {
} */

#submit-done {
    color: greenyellow;
}