#title-container {
    margin-top: 1%;
}

#title {
  font-weight: 500;
  background: linear-gradient(135deg, #00bfff 0%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: inline-block;
}