

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --bs-primary: #1f87ab; /* dark cyan/blue */
  --bs-secondary: #1dbfc4; /* teal */
    --bs-light: #00bfff;  /* bright blue */
    --bs-dark: #154e75; /* dark blue */
}

.text-brand-secondary {
    color: #f0f6ff !important;
}

.text-brand-primary {
    color: #00bfff !important;
}

