
* {
  font-family: 'Fredoka', sans-serif !important;
}

body { 
    margin: 0; 
    font-family: 'Fredoka', sans-serif !important; 
    font-weight: 100;
    min-height: 100vh;
    background: radial-gradient(circle at center, #00bfff,#1dbfc4, #1f87ab, #154e75);
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


:root {
  --bs-primary: #1f87ab; /* dark cyan/blue */
  --bs-secondary: #1dbfc4; /* teal */
    --bs-light: #00bfff;  /* bright blue */
    --bs-dark: #154e75; /* dark blue */
}

.text-brand-secondary {
    color: #f0f6ff !important;
}

.text-brand-primary {
    color: #00bfff !important;
}

.font-normal {
  font-weight: 100;
}

.font-semi {
  font-weight: 125;
  letter-spacing: 2px;
}